<!--<list [todos]="todos"></list>-->

<section>
  <header>Text buttons:</header>
  <app-text-button>Ok</app-text-button>
  <app-text-button>Delete</app-text-button>
</section>

<section>
  <header>Icon buttons:</header>
  <app-icon-button class="warn">delete_forever</app-icon-button>
  <app-icon-button class="success">check</app-icon-button>
</section>

<section>
  <header>Todo input:</header>
  <app-todo-input></app-todo-input>
</section>

<section>
  <header>Checkbox:</header>
  <app-checkbox></app-checkbox>
</section>

<style>
  section {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }

  section > header {
    margin-right: 20px;
  }
</style>
