:host {
  margin-bottom: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
  transition: .1s;
}

:host:hover {
  box-shadow: 1px 1px 3px grey;
}

.text {
  margin: 0 10px;
  flex: 1;
  font-size: 18pt;
}
