<app-checkbox (checkboxToggled)="toggleDone($event)" [checked]="todo?.done"></app-checkbox>

<ng-container *ngIf="!isEditing; else inputContainer">
  <p class="text">{{todo?.title}}</p>
  <app-text-button (click)="toggleInput()">Edit</app-text-button>
</ng-container>

<ng-template #inputContainer>
  <app-todo-input [value]="todo?.title" (keyEnter)="updateTodo($event)" #input></app-todo-input>
  <app-text-button (click)="updateTodo(input.value)">Save</app-text-button>
</ng-template>

<app-icon-button (click)="deleteTodo()" class="warn">delete_forever</app-icon-button>
